:root{
    --verde: #7ED957;
    --marrom: #545454;
    --laranja: #ED5B2D;
    --amareloclaro: #FFCE6D; 
    --amarelo: #fada04;
    --preto: #262d2b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Arial Black', Times, serif;
}

header .container{
    
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:start;
    color: --laranja;
    font-family: 'Arial Black', Times;
    font-size: auto;
}
header nav logoname{
    color: var(--marrom);
    font-family: 'Arial Black', Times;
}

header nav a{
    text-decoration:none;
    color: var(--laranja);
    font-family: 'Arial', Times;
    align-items:center;
    font-size: auto;
}

header nav a:hover{
    color: var(--marrom);
}
main .container{
    color: white;
}

.filme-principal{
    background: linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)100%),url(../img/Cleancode.jpg);
    height: 400px;
    background-size: cover;
}

.titulo{
    font-size: auto;
    margin-top: 20px;
    font-family:'Arial black';
}
.descricao{
    font-family: 'Arial';
    font-size: auto;
    margin-top: 10px;
}

.logopagina{
    font-family: 'Arial', Times;
    font-size: 50%;
}
.selecao{
    margin-left: 180%;
    align-content: inline;
}
.logoname{
    color: var(--preto);
    align-items: center;
    font-family: 'Arial Black', Times;
    margin-left: 5%;
    font-size: 120%;
}
